.catalog{
    padding-bottom: 120px;
    &__title {
        font-size: clamp(1.125rem, 0.659rem + 2.33vw, 2.188rem);
        font-weight: 700;
        text-align: center;
        padding-top: 120px;
    }
    &__rowgrid {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        grid-template-rows: 264px 264px;
        column-gap: 30px;
        row-gap: 62px;
        padding-top: 55px;
        padding-bottom: 72px;
    }
    &__item {
        border-radius: 30px;
        background: #FFF;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        padding: 60px 30px 0px 30px;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
            background-color: #ebebeb;
        }
        &__img {
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 44px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
          
        }
        &__descr {
            color: #000;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
        }
    }
    &__btn {
        padding: 20px 60px;
        display: block;
        margin: 0 auto;
        width: 266px;
        text-align: center;
        border-radius: 30px;
        background: #E05100;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        transition: 0.5s ease;
        &:hover {
            background-color: #FC5F07;
        }
    }
}