.info {
    background-color: #404040;
    &__row {
        display: flex;
        justify-content: center;
    }
    &__foto {
        padding-right: 68px;
        padding-top: 20px;
        padding-bottom: 20px;
        img {
            display: block;
            border-radius: 30px;
        }
    }
    &__right {
       
        background-color: #404040;
        &__title {
            padding-top: 120px;
            color: #FFF;
            font-size: 35px;
            font-weight: 700;
            padding-bottom: 80px;

        }
        &__titletwo {
            color: #FFF;
            font-size: clamp(0.875rem, 0.711rem + 0.82vw, 1.25rem);
            font-weight: 500;
            line-height: normal;
            padding-bottom: 30px;
            width: clamp(20rem, 9.452rem + 52.74vw, 44.063rem);
        }
        &__descr {
            color: #FFF;
            font-size: clamp(0.75rem, 0.695rem + 0.27vw, 0.875rem);
            font-weight: 400;
            line-height: normal;
            width: clamp(20rem, 9.452rem + 52.74vw, 44.063rem);
            padding-bottom: 45px;
        }
    }
    &__btn {
        padding: 20px 65px;
        display: block;
        width: 266px;
        text-align: center;
        border-radius: 30px;
        background: #E05100;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        transition: 0.5s ease;
        &:hover {
            background-color: #FC5F07;
        }
    }
}